.colorMatrix {
  margin-top: 3rem;
}

.colorMatrix-table {
  table-layout: fixed;
  width: 100%;
}

.colorMatrix-tr {
}

.colorMatrix-th {
  font-weight: bold;
  padding: 0.5rem;
}

.colorMatrix-td {
  padding: 0.5rem;
}
