{
  "env": {
    "development": {
      "presets": ["next/babel", "@emotion/babel-preset-css-prop"],
      "plugins": [["emotion", { "labelFormat": "[dirname]-[local]" }]]
    },
    "production": {
      "presets": ["next/babel", "@emotion/babel-preset-css-prop"],
      "plugins": ["emotion"]
    },
    "test": {
      "presets": [
        ["next/babel", { "preset-env": { "modules": "commonjs" } }],
        "@emotion/babel-preset-css-prop"
      ],
      "plugins": ["emotion"]
    }
  }
}
