.form {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1200px;
    transition: color 400ms ease-out;
}

.form-control {
    flex: 1 1 auto;
    padding: 1rem;
    width: 50%;
}

.form-label {
    display: inline-block;
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
    width: 100%;
}

.form-input {
    background: rgba(255, 255, 255, 0.1);
    border: solid 1px;
    border-radius: 3px;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    width: 100%;
}