@import '../../styles/utils';
@import 'input-range';

.form-hsl-sliders {
  display: flex;
  flex-wrap: wrap;

  @include breakpoint($medium-screen) {
    margin: 0 -0.5rem;
  }
}

.form-hsl-slider {
  width: 100%;

  @include breakpoint($medium-screen) {
    flex: 1 0 auto;
    padding: 0 0.5rem;
    width: 33.3333%;
  }
}
