@import "../../styles/utils";

.form-hsl-sliders {
  display: flex;
  flex-wrap: wrap;

  @include breakpoint($medium-screen) {
    margin: 0 -0.5rem;
  }
}

.form-hsl-sliders--compact {
  display: block;
  flex-wrap: nowrap;
  margin: 0;
}

.form-hsl-slider {
  width: 100%;

  @include breakpoint($medium-screen) {
    flex: 1 0 auto;
    padding: 0 0.5rem;
    width: 33.3333%;
  }
}

.form-hsl-slider--compact {
  display: flex;
  padding: 0;
  width: 100%;

  .form-label {
    flex: 1;
    font-size: 1rem;
    margin: 0;
    text-align: left;
  }

  .form-range {
    flex: 6;
  }
}
