@import '../global/global';

.home {
    position: relative;

    @include breakpoint($small-screen) {
        height: 85%;
    }

    .form {
        width: 100%;

        @include breakpoint($small-screen) {
            bottom: 0;
            left: 0;
            position: absolute;
            right: 0;
        }
    }
}
