.colorCard {
  border: solid 1px #dedede;
  border-radius: 5px;
  overflow: hidden;
  text-align: center;
  transition: opacity ease-in;
}

// .colorCard--nope {
//   opacity: 0.1;
//}

.colorCard-swatch {
  border-bottom: solid 1px #ccc;
  font-weight: bold;
  font-size: 2rem;
  padding: 0.5rem 1rem;
}

.colorCard-ratio {
  font-size: 0.8rem;
  padding: 0.3rem;
}
